<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia_Logo_1.0.png" alt="Wikipedia">
    <h1 id="head1">Welcome to Wikipedia Website</h1>
    </div>
    <input placeholder="Enter a title" id="input">
    <button id="btn">Search</button>
    <p class="para1"></p>
    <p class="para2"></p>
    <script src="../js/app.js"></script>
</body>
</html>